<tr>
    <td>
        <table border="0" cellpadding="0" cellspacing="0" style="
                      width: 100%;
                      margin: 0 auto;
                      background-color: #141419;
                      border-radius: 16px;
                      padding: 32px 20px;
                      margin-top: 20px;
                    " width="100%">
            <tr>
                <td>
                    <p style="
                            font-family: 'Arial';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 32px;
                            color: #ffffff;
                            margin-bottom: 12px;
                          ">
                        Join Our Community
                    </p>
                    <p style="
                            font-family: 'Arial';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 28px;
                            color: #c7c8d1;
                            margin-bottom: 32px;
                          ">
                        Follow us to stay updated on all the latest news,
                        giveaways, pack drops and much more!
                    </p>
                </td>
            </tr>

            <tr>
                <td style="padding-bottom: 32px">
                    <a href="https://discord.com/invite/fancraze" style="
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            cursor: pointer;
                            text-decoration: none;
                            text-align: center;
                            margin-right: 12px;
                          ">
                        <img height="40" width="40"
                            src="https://fc-adhoc-files.s3.ap-south-1.amazonaws.com/email/discord_bg.png" />
                    </a>
                    <a href="https://twitter.com/0xFanCraze" style="
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            cursor: pointer;
                            text-decoration: none;
                            text-align: center;
                            margin-right: 12px;
                          ">
                        <img height="40" width="40"
                            src="https://fc-adhoc-files.s3.ap-south-1.amazonaws.com/email/x_bg.png" />
                    </a>
                    <a href="https://www.youtube.com/channel/UCZJXTPR_Ltegy_aNWlZZERQ" style="
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            cursor: pointer;
                            text-decoration: none;
                            text-align: center;
                            margin-right: 12px;
                          ">
                        <img height="40" width="40"
                            src="https://fc-adhoc-files.s3.ap-south-1.amazonaws.com/email/youtube_bg.png" />
                    </a>
                    <a href="https://www.instagram.com/0xfancraze" style="
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            cursor: pointer;
                            text-decoration: none;
                            text-align: center;
                            margin-right: 12px;
                          ">
                        <img height="40" width="40"
                            src="https://fc-adhoc-files.s3.ap-south-1.amazonaws.com/email/instagram_bg.png" />
                    </a>
                </td>
            </tr>

            <tr>
                <td>
                    <p style="
                            font-size: 12px;
                            line-height: 140%;
                            color: #c7c8d1;
                            margin-bottom: 8px;
                          ">
                        <a style="text-decoration: underline; color: #c7c8d1"
                            href="https://www.fancraze.com/privacy-policy">Privacy Policy</a>
                        and
                        <a style="text-decoration: underline; color: #c7c8d1"
                            href="https://www.fancraze.com/terms-of-use">Terms and
                            Conditions</a>
                        apply.
                    </p>
                    <p style="
                            font-size: 12px;
                            line-height: 140%;
                            color: #c7c8d1;
                          ">
                        <%= new Date().getFullYear() %> FanCraze Technologies
                            Inc. Officially Licensed Product of the ICC.
                    </p>
                </td>
            </tr>

            <tr>
                <td>
                    <table border="0" cellpadding="0" cellspacing="0" style="
                                                width: 100%;
                                                margin: 0 auto;
                                                margin-top: 24px;
                                                " width="100%">
                        <tr>
                            <td>
                                <a href="https://fancraze.com" style="display: block">
                                    <span style="vertical-align: middle;"><img
                                            src="https://prod-asset.faze.app/Superteam Logo.png" height="10" /></span>
                                </a>
                            </td>

                            <td align="right">
                                <a href="https://fancraze.com" style="display: block">
                                    <img src="https://prod-assets-s3.faze.app/assets/BuiltByFancraze.png" height="16" />
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
        </table>
    </td>
</tr>