<tr>
    <td style="padding-bottom: 50px" align="center">
        <a href="https://fancraze.com" style="display: block">
            <img src="https://prod-asset.faze.app/Superteam Logo.png" height="22px" />
        </a>
    </td>
</tr>